@use "variables" as *;

header {
    background: $brand-primary;
    color: white;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    nav a {
      color: white;
      margin-left: 2rem;
      text-decoration: none;
      font-weight: 500;
  
      &:hover {
        color: $brand-secondary;
      }
    }
  }