@use "variables" as *;

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: $warm-sand;
  color: $deep-cacao-brown;
  line-height: 1.6;
}